<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>266995706506-g10ie9pumttk3n0sol7bn08v3hlqk50c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.266995706506-g10ie9pumttk3n0sol7bn08v3hlqk50c</string>
	<key>API_KEY</key>
	<string>AIzaSyANwpKPO3RjJLk1sH0nV0IlJ9M4Tp5UABY</string>
	<key>GCM_SENDER_ID</key>
	<string>266995706506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghl.Firebase-GettingStarted</string>
	<key>PROJECT_ID</key>
	<string>itc-project-5433b</string>
	<key>STORAGE_BUCKET</key>
	<string>itc-project-5433b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266995706506:ios:76038dd3155dd471f4db73</string>
</dict>
</plist>